@model ImageGallery.ViewModels.GalleryVM
@{
    ViewData["Title"] = "Gallery";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container body-content gallery">
    <div class="gallery__list">
        @if (!Model.Images.Any())
        {
            <h1>It looks like there are no images in the gallery</h1>
            <a class="btn btn-primary" asp-controller="Image" asp-action="Upload">
                Don't want to add an image?
            </a>
        }
        @foreach (var image in Model.Images)
        {
            <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id">
                <div class="gallery__image image">
                    <div class="image__wrap" style="background-image: url(@image.ImageUrl);">
                    </div>
                    <h2 class="image__title">@image.Title</h2>
                    <ul class="image__tag-list">
                        @foreach (var tag in image.Tags)
                        {
                            <li class="image__tag">@tag.Description</li>
                        }
                    </ul>
                </div>
            </a>
        }
    </div>
</div>